<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
      
<head>
    <title>Login</title>

   </head>
<body>

<h1 style="text-align:center"> Welcome</h1>

		<form action="login" method="post">
			<table style="margin-left:auto;margin-right:auto;">
			<tr>
		   		<td>	<input type="text" name="username" value="" /> </td>
		   	</tr>
		   	<tr>
		   		<td> <input type="password" name="password" />  </td>
		   	</tr>
		   	<tr align="center">
		  		<td > <input name="submit" style= "background-color: grey" type="submit" value="login" /> </td>
		  	</tr>
		   </table>
		</form>
</body>
</html>